@layout EmptyLayout
<div class="row my-5">
    <div class=" col-10 col-md-3 text-center p-5 m-auto" style="border: 1px solid #DADCE0;border-radius: 10px;">
        <div class="justify-content- center">
            <img src="images/DigitalEmporiumLogo.png" height="150px">
            <br>
            <br>
            <span style="font-size: x-large;">Sign in</span>
            <br>
            <span>to continue to shopping</span>
            <br>
            <br>
            <br>
            <input type="email" class="form-control" style="font-size: large;" placeholder="Enter your email" />
            <br>
            <input type="password" class="form-control" placeholder="Enter your password"
                   style="font-size: large;" />
            <br>
            <br>
            <button class="btn btn-primary">Sign in</button>
            <br>
            <br>
            <a href="#">Forgot password?</a>
            <br>
            <br>
            <a href="signup">Don't have an account?</a>
        </div>
    </div>
</div>













