@layout EmptyLayout
<div class="row my-5">
    <div class=" col-10 col-md-3 text-center p-5 m-auto" style="border: 1px solid #DADCE0;border-radius: 10px;">
        <div class="justify-content- center">
            <img src="images/DigitalEmporiumLogo.png" height="150px">
            <br>
            <br>
            <span style="font-size: x-large;">Sign up</span>
            <br>
            <span>to continue to shopping</span>
            <br>
            <br>
            <br>
            <input type="text" class="form-control" placeholder="Enter your username" style="font-size: large;" />
            <br>
            <input type="email" class="form-control" placeholder="Enter your email" style="font-size: large;" />
            <br>
            <div class="row">
                <div class="col">
                    <input type="password" class="form-control" style="font-size: large;"
                           placeholder="Enter password" />
                </div>
                <div class="col">
                    <input type="password" class="form-control" style="font-size: large;"
                           placeholder="Confirm password" />
                </div>
            </div>
            <br>
            <button class="btn btn-primary">
                Sign up
            </button>
            <br>
            <br>
            <a href="#">Forgot password?</a>
            <br>
            <br>
            <a href="/">Already have an account?</a>
        </div>
    </div>
</div>

