/* Chrome, Safari, Edge, Opera */
    input[b-tsiviv0xew]::-webkit-outer-spin-button,
    input[b-tsiviv0xew]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .category[b-tsiviv0xew] {
        margin-top: 20px;
    }
    /* Firefox */
    input[type=number][b-tsiviv0xew] {
        -moz-appearance: textfield;
    }

    .checked[b-tsiviv0xew] {
        color: orange;
    }

    .stars[b-tsiviv0xew] {
        display: flex;
    }

    .button[b-tsiviv0xew] {
        cursor: pointer;
        font-weight: bold;
        font-size: 12px;
        color: white;
        background-color: #f5614d;
        border: 2px solid #f5614d;
        border-radius: 25px;
        padding: 8px;
    }

    .button:hover[b-tsiviv0xew] {
        background-color: #3f3f3f;
    }
    .list[b-tsiviv0xew] {
        margin-top: 20px;
        color: #8d8d8d;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
    }